:root {
  --color-primary-dark-muted-blue: hsl(238, 29%, 16%);
  --color-primary-soft-red: hsl(14, 88%, 65%);
  --color-primary-soft-violet: hsl(273, 75%, 66%);
  --color-primary-soft-blue: hsl(240, 73%, 65%);
  --color-neutral-extra-dark-gray-blue: hsl(237, 12%, 33%);
  --color-neutral-dark-gray-blue: hsl(240, 6%, 50%);
  --color-neutral-light-gray-blue: hsl(240, 5%, 91%);
  --font-family: 'Kumbh Sans', sans-serif;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font: 400 0.875rem var(--font-family);
  width: 100vw;
  height: 100vh;
  background: linear-gradient(var(--color-primary-soft-violet), var(--color-primary-soft-blue));
  padding: 1.3rem;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 22px;
  min-width: 20rem;
  max-width: 58rem;
  width: 100%;
  background-color: white;
  padding: 1.3rem 1.3rem 3rem 1.3rem;
  box-shadow: 0px 30px 50px hsla(238, 29%, 16%, 0.5);
}

.card::before {
  content: '';
  position: absolute;
  top: -145px;
  left: 2rem;
  right: 2rem;
  height: 250px;
  background:
    url(../images/illustration-woman-online-mobile.svg) center / 250px auto no-repeat,
    url(../images/bg-pattern-mobile.svg) center 140px / 250px auto no-repeat;
}

.card > h1 {
  font-size: 2.2em;
  text-align: center;
  margin: 0;
  padding-top: 8rem;
  padding-bottom: 1.3rem;
}

details {
  padding: 1.2em 0;
  border-bottom: 1px solid var(--color-neutral-light-gray-blue);
}

details > summary {
  position: relative;
	list-style: none;
	cursor: pointer;
  color: var(--color-neutral-extra-dark-gray-blue);
  font-weight: 400;
  padding-right: 1.2em;
}

details > summary::after {
  content: '';
  position: absolute;
  top: 0.2rem;
  right: 0;
  width: 0.7rem;
  height: 0.7rem;
  background: url(../images/icon-arrow-down.svg) center / contain no-repeat;
}

details > summary:focus {
  color: var(--color-primary-dark-muted-blue);
}

details > summary:hover {
  color: var(--color-primary-soft-red);
}

details[open] > summary {
  font-weight: 700;
}

/* Rotate arrow when expanded */
details[open] > summary::after {
  transform: rotate(180deg);
}

details > p {
  color: var(--color-neutral-dark-gray-blue);
  font-size: 0.95em;
  line-height: 1.2;
  margin: 1em 0 0 0;
}

@media (min-width: 768px) {
  body {
    padding: 1.3rem 6.5rem;
  }
  .card {
    padding: 4.2rem 5rem;
  }
  .card::before {
    top: 0;
    left: 0;
    width: calc(50% - 4rem);
    height: 100%;
    background:
      url(../images/illustration-woman-online-desktop.svg) 100% center / 120% no-repeat,
      url(../images/bg-pattern-desktop.svg) 100% calc(50% - 70px) / 230% no-repeat;
  }
  .card::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: clamp(-100px, -8vw, -50px);
    width: 16vw;
    min-width: 30px;
    max-width: 200px;
    background: url(../images/illustration-box-desktop.svg) center calc(50% + 30px) / 100% no-repeat;
  }
  .card > h1 {
    text-align: left;
    margin-left: 50%;
    padding-top: 0;
  }
  details {
    margin-left: 50%;
  }
}